


body{


    margin: 0;
    padding: 0;
}


.grid > div {

    background: #ccc;
    border: solid 1px #999 ;
}

.grid{

    display: grid;
    grid-template-columns: 33% 22% 11% 11% 11% 2% 20%;
    grid-template-rows: 50px 50px 50px 50px 50px ;
}
