


.wrapper > div{

    background-color: rgb(145, 111, 60);
    padding: 1em;
}

.wrapper >div:nth-child(odd){

    background: burlywood;
}

.wrapper{

    display: grid;
    grid-template-columns: 33% 22% 11% 11% 11% 2% 20%;
}
